{% extends '_base.html' %} 
{% block content %}

<section >
    
  

    <!-- Grid -->
    <div class="w-full grid grid-cols-2 gap-8 pt-10 px-10 sm:px-6 md:px-8 lg:pl-72">
      
      <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 white:border-blue-900">
          <div>
              <h2 class="text-xl font-semibold text-blue-900 white:text-blue-200">
                  Liste des proprietaires
              </h2>
              <p class="text-sm text-blue-900 white:text-blue-400">
                  Creer proprietaire, modifier, afficher.
              </p>
          </div>

          <div>
              <div class="flex gap-x-2">
                  <a class="text-sm text-blue-900 white:text-blue-400" href="{% url 'gestion:ajouter_proprietaire' %}">
                      <button type="submit" class="text-blue-300 inline-flex items-center hover:text-white border border-blue-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center white:border-blue-500 white:text-blue-500 white:hover:text-white white:hover:bg-blue-900 white:focus:ring-blue-900">
                          Ajouter proprietaire
                      </button>
                  </a>
              </div>
          </div>
        </div>
        <!-- End Header -->

        <!-- Table -->
        <table class="min-w-full divide-y">
          <thead class="bg-gray-50">
              <tr>
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Nom
                      </span>
                  </th>
      
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Prénom
                      </span>
                  </th>
      
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Adresse
                      </span>
                  </th>
      
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Téléphone
                      </span>
                  </th>
      
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Email
                      </span>
                  </th>
      
                  <th scope="col" class="px-6 py-3 text-left">
                      <span class="text-xs font-semibold uppercase tracking-wide text-blue-900 white:text-blue-200">
                          Action
                      </span>
                  </th>
              </tr>
          </thead>
      
          <tbody class="divide-y divide-gray-200 white:divide-gray-700">
              {% for proprietaire in proprietaires %}
              <tr class="bg-white hover:bg-gray-50 white:hover:bg-slate-800">
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="px-6 py-2">
                          <span class="text-sm text-blue-900 white:text-blue-400">{{ proprietaire.name }}</span>
                      </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="px-6 py-2">
                          <span class="text-sm text-blue-900 white:text-blue-400">{{ proprietaire.s_name }}</span>
                      </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="px-6 py-2">
                          <span class="text-sm text-blue-900 white:text-blue-400">{{ proprietaire.adresse }}</span>
                      </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="px-6 py-2">
                          <span class="text-sm text-blue-900 white:text-blue-400">{{ proprietaire.numero_telephone }}</span>
                      </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="px-6 py-2">
                          <span class="text-sm text-blue-900 white:text-blue-400">{{ proprietaire.email }}</span>
                      </div>
                  </td>
                  <td class="h-px w-px whitespace-nowrap">
                      <div class="flex flex-auto gap-4 px-6 py-2">
                          <a class="text-sm text-blue-900 white:text-blue-400" href="{% url 'gestion:update_proprietaire' proprietaire.id %}">
                              <button type="submit" class="text-blue-300 inline-flex items-center hover:text-white border border-blue-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center white:border-blue-500 white:text-blue-500 white:hover:text-white white:hover:bg-blue-900 white:focus:ring-blue-900">
                                  Update
                              </button>
                          </a>
                          <a class="text-sm text-blue-900 white:text-blue-400" href="{% url 'gestion:supprimer_proprietaire' proprietaire.id %}">
                              <button type="button" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center white:border-red-500 white:text-red-500 white:hover:text-white white:hover:bg-red-600 white:focus:ring-red-900">
                                  <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                  </svg>
                                  Delete
                              </button>
                          </a>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      <!-- EndTable -->
      </div>
      <!-- Card -->
        <a class="group sm:flex rounded-xl white:focus:outline-none white:focus:ring-1 white:focus:ring-gray-600" href="#">
          <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]">
            <img class="w-full h-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="Image Description">
          </div>
    
          <div class="grow">
            <div class="p-4 flex flex-col h-full sm:p-6">
              <div class="mb-3">
                <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 white:bg-gray-800 white:text-gray-200">
                  Business
                </p>
              </div>
              <h3 class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 white:text-gray-300 white:group-hover:text-white">
                Preline becomes an official Instagram Marketing Partner
              </h3>
              <p class="mt-2 text-gray-600 white:text-gray-400">
                Great news we're eager to share.
              </p>
    
              <div class="mt-5 sm:mt-auto">
                <!-- Avatar -->
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img class="h-[2.875rem] w-[2.875rem] rounded-full" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
                  </div>
                  <div class="ms-2.5 sm:ms-4">
                    <h4 class="font-semibold text-gray-800 white:text-gray-200">
                      Aaron Larsson
                    </h4>
                    <p class="text-xs text-gray-500">
                      Feb 15, 2021
                    </p>
                  </div>
                </div>
                <!-- End Avatar -->
              </div>
            </div>
          </div>
        </a>
      <!-- End Card -->
    
      <!-- Card -->
        <a class="group sm:flex rounded-xl white:focus:outline-none white:focus:ring-1 white:focus:ring-gray-600" href="#">
          <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]">
            <img class="w-full h-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1669824774762-65ddf29bee56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="Image Description">
          </div>
          <div class="grow">
            <div class="p-4 flex flex-col h-full sm:p-6">
              <div class="mb-3">
                <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 white:bg-gray-800 white:text-gray-200">
                  Announcements
                </p>
              </div>
              <h3 class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 white:text-gray-300 white:group-hover:text-white">
                Announcing a free plan for small teams
              </h3>
              <p class="mt-2 text-gray-600 white:text-gray-400">
                At Wake, our mission has always been focused on bringing openness.
              </p>
    
              <div class="mt-5 sm:mt-auto">
                <!-- Avatar -->
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img class="h-[2.875rem] w-[2.875rem] rounded-full" src="https://images.unsplash.com/photo-1669720229052-89cda125fc3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
                  </div>
                  <div class="ms-2.5 sm:ms-4">
                    <h4 class="font-semibold text-gray-800 white:text-gray-200">
                      Hanna Wolfe
                    </h4>
                    <p class="text-xs text-gray-500">
                      Feb 4, 2021
                    </p>
                  </div>
                </div>
                <!-- End Avatar -->
              </div>
            </div>
          </div>
        </a>
      <!-- End Card -->
      <!-- Card -->
        <a class="group sm:flex rounded-xl white:focus:outline-none white:focus:ring-1 white:focus:ring-gray-600" href="#">
          <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]">
            <img class="w-full h-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1669824774762-65ddf29bee56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="Image Description">
          </div>
          <div class="grow">
            <div class="p-4 flex flex-col h-full sm:p-6">
              <div class="mb-3">
                <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 white:bg-gray-800 white:text-gray-200">
                  Announcements
                </p>
              </div>
              <h3 class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 white:text-gray-300 white:group-hover:text-white">
                Announcing a free plan for small teams
              </h3>
              <p class="mt-2 text-gray-600 white:text-gray-400">
                At Wake, our mission has always been focused on bringing openness.
              </p>
    
              <div class="mt-5 sm:mt-auto">
                <!-- Avatar -->
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <img class="h-[2.875rem] w-[2.875rem] rounded-full" src="https://images.unsplash.com/photo-1669720229052-89cda125fc3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
                  </div>
                  <div class="ms-2.5 sm:ms-4">
                    <h4 class="font-semibold text-gray-800 white:text-gray-200">
                      Hanna Wolfe
                    </h4>
                    <p class="text-xs text-gray-500">
                      Feb 4, 2021
                    </p>
                  </div>
                </div>
                <!-- End Avatar -->
              </div>
            </div>
          </div>
        </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->

  <!-- End Card Blog -->
</section>
{% endblock content %}
    